* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 18px;
    color: #515151;
    line-height: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento Sans', sans-serif;
}

header {
    position: relative;
}

header h1, header h2 {
    padding-top: 20px;
    display: inline-block;
    color: #333;
}

header h1 {
    font-size: 2.2em;
}

header h2 {
    font-size: 1.2em;
    color: #9a9a9a;
}

nav {
    text-align: center;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

ul li {
    padding: 10px 20px;
    display: inline;
    
}

a {
    text-decoration: none;
    color: #9a9a9a;
    font-family: 'Quattrocento Sans', sans-serif;
}

a:hover {
    color: #333;
}

header, main {
    width: 60%;
    margin: auto;
    background: white;
}

hr { 
    border-width: 1px;
}

#bigpic {
    width: 100%;
    background-size: cover;
}

main {
    margin: auto ;
}

.post-title h2 {
    margin: 20px auto;
}

article {
    text-align: justify;
    margin-bottom: 10px;
}


.date {
    color: #9a9a9a;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:0.8rem;
}